PORT
DATABASE_URL
WORKOS_CLIENT_ID
WORKOS_API_KEY
WORKOS_CONNECTION
WORKOS_REDIRECT_URL
JWT_SECRET
RESEND_API_KEY
TOKEN_TIME_EXPIRED
FRONTEND_URL
HUBSPOT_ACCESS_TOKEN
HUBSPOT_CLIENT_SECRET
HUBSPOT_CUSTOM_OBJECT
HUBSPOT_CUSTOM_PIPELINE
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI
GOOGLE_ACCESS_TOKEN
GOOGLE_REFRESH_TOKEN
OPENAI_API_KEY